<div class="w-100 float-left position-relative">
	<div class="container">
		<div class="form-horizontal"  style="margin-top: -25px">
			<%= render "users/profile/image_section" %>
		</div>
	</div>
</div>
<div class="w-100 float-left position-relative">
	<div class="container">
		<div class="form-group">
			<h2><strong><%= @user.full_name %></strong></h2>
		</div>	
	</div>
	<hr class="dark" style="width:80%">
</div>
<div style="margin: 0 auto;float:none;width:80%">
	<div class=row>
		<div class="col-5">
			<div class="friends-box" style="margin-top: 5px;margin-bottom: 20px;padding: 15px">
				<br/>
				<h4 style="text-align: left">About</h4>
				<hr/>
				<div class="container">
					<div class="form-horizontal" style="text-align: left">
						<p><span style="color: #8F8F8F">Name : </span><span><%=@user.full_name%></span></p>
						<p><span style="color: #8F8F8F">Email : </span><span><%=@user.email%></span></p>
						<p><span style="color: #8F8F8F">Birthdate : </span><span><%=@user.birth_date.to_date%></span></p>
						<p><span style="color: #8F8F8F">Gender : </span><span><%=@user.gender%></span></p>
					</div>
				</div>
			</div>
			<div class="friends-box" style="margin-bottom: 20px;padding: 15px">
				<br/>
				<h4 style="text-align: left">Friends</h4>
				<p style="text-align: left;color: #8F8F8F"><%= @friends.count %> friends</p>
				<hr/>
				<div class="">
					<div class="row">
						<div class="col-md-12 p-0">
							<% @friend_list.each do |friend| %>
								<div class="col-4 float-left pl-3" style="height: 140px">
										<%= link_to (profile_path(friend.id) )do %>
											<%= image_tag friend.image.url,class: "img-friendspicture hover-box w-100"%>
											<% end %>					
										<%= link_to (profile_path(friend.id) )do %>
											<p style="text-align: left;color: #000;font-size:12px"><%= friend.full_name %></p>
										<% end %>
								</div>
							<% end %>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-7">
			<%= render "users/profile/posts" %>
		</div>
	</div>
</div>