<div class="container">
  <div class="form-horizontal">
    <div class=form-group>
      <div class="form-group" style="margin-bottom:50px">
        <div class="container login-shadow" style="width: 450px; border-radius: 5px;padding: 15px 20px;background-color: #fff">
          <div class="form-group" style="text-align: left;margin-top: 20px">
            <h2><strong>Add Friends</strong></h2>
          </div>
          <hr>
          <% @users.each do |user| %>
          <div class="form-group" style="padding-top: 12px">
            <div class="form-row">
              <div class="col-2">
                <% if user.image.present? %>
                  <%= link_to (profile_path(user.id) )do %>
                  <%= image_tag user.image.url,class: "img-profilepicture-post hover-box"%>
                  <% end %>       
                <% end %>                        
              </div>
              <div class="col-6">
                <%= link_to (profile_path(user.id) )do %>
                <p style="text-align: left;color: #000;margin-top: 2px;margin-left:20px;font-size: 22px"><strong><%= user.full_name %></strong></p>
                <% end %>
              </div>
              <div class="col-4">
                <% if dkasfdasfud %>
                  <input  type="button" value="Add Friend" id="myButton1" onclick= "requestAjax(<%= user.id %>)" class="btn btn-success"/>
                <% else %>

                <% end %>
              </div>
            </div>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  function requestAjax(reciever){
    debugger
    $.ajax({
    url: "/requests",
    type: "POST",
    data: {"reciever_id" : reciever},
    dataType: "json",
    success: function(data) {
      var elem = document.getElementById("myButton1");
      if (elem.value=="Add Friend") elem.value = "Cancel Request";
      else elem.value = "dskgdhsg";
      alert('successfully');
    }
   });
  }
  
</script>