<div class="container" style="padding-top: 5%">
  <div class="form-horizontal">
    <div class=form-group>
      <div class=row>
        <div class="col-md-6 col-sm-6" style="text-align: left;padding-top: 90px;padding-left: 50px">
          <h1 style="font-family:tahoma;color: #1877f2; font-size: 70px"><strong>Rorbook</strong></h1>
          <h3 >RORBook helps you connect and share with the people in your life.</h3>
        </div>
        <div class="col-md-6 col-md-offset-1 col-sm-6" style="margin-bottom:50px; float: right">
          <div class="container login-shadow" style="width: 400px; border-radius: 10px;padding: 10px 20px;background-color: #fff">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <br />
              <div class="form-group">
               <%= f.email_field :email, autofocus: true, autocomplete: "email",placeholder: "Email",class: "form-control"  %>
              </div>

              <div class="form-group">
                <%= f.password_field :password, autocomplete: "current-password",placeholder: "Password",class: "form-control" %>
              </div>
              <div class="actions">
                <%= f.submit "Log in",style: "height:50px",class:"btn btn-login form-control bg-blue text-white"%>
              </div>
              <br />
              <% if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != '    registrations' %>
                <%= link_to "Forgotten password?", new_password_path(resource_name) %><br />
              <% end %>
            <% end %> 
            <hr>
            <br/>
            <%- if devise_mapping.registerable? && controller_name != 'registrations' %>
              <%= link_to "Create New Account", new_registration_path(resource_name),style: "padding:10px", class: "btn btn-success" %><br />
            <% end %>
            <br/>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>